body {
  background: linear-gradient(rgb(222, 183, 208), #9198e5, rgb(222, 183, 208));
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: #cc0067;
}

h1 {
  color: white;
  padding: 50px;
  font-weight: lighter;
  font-size: 80px;
}

#image-icon {
  height: 50px;
}

i {
  color: white;
}

.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  height: 10em;
  display: flex;
  min-height: 100vh;
  flex-flow: column wrap;
}

.container h3 {
  margin: auto auto 0 auto;
  font-weight: bolder;
  color: white;
  font-family: 700;
  font-size: 30px;
}

.container h1 {
  margin: 0 auto auto auto;
  font-weight: lighter;
  color: white;
  font-size: 60px;
}

@media (max-width: 900px) {
  .container h1 {
    margin: 0 auto auto auto;
    font-weight: lighter;
    color: white;
    font-size: 30px;
  }
}
