body {
  /* background: linear-gradient(rgb(222, 183, 208), #9198e5); */
  font-family: 'Quicksand', sans-serif;
}

.page-1 {
  background: linear-gradient(rgb(222, 183, 208), #9198e5);
}

.page-2 {
  background: linear-gradient(#9198e5, rgb(222, 183, 208));
  padding: 100px;
}

a {
  text-decoration: none;
  color: #cc0067;
}

#image-icon {
  height: 50px;
}

.header {
  background-color: rgb(222, 183, 208);
}

i {
  color: white;
}

.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.container {
  height: 10em;
  display: flex;
  min-height: 100vh;
  flex-flow: column wrap;
}

.container h3 {
  margin: auto auto 0 auto;
  font-weight: bolder;
  color: white;
  font-family: 700;
  font-size: 30px;
}

.container h1 {
  margin: 0 auto auto auto;
  font-weight: lighter;
  color: white;
  font-size: 60px;
}
