.portfolio-card {
  display: grid;
  justify-content: space-evenly;
  margin: 0 auto;
  /* align-items: center; */
  /* width: 60%; */
  /* background-color: rgba(184,226,200, 0.7); */
  /* background-color: #ff0081; */
  /* border-radius: 5px; */
}

.portfolio-card img {
  border-radius: 5px;
}

.projects {
  margin: 0 auto;
}
