.portfolio-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  align-self: center;
}

.portfolio-card img {
  border-radius: 1px;
  opacity: 0.9;
  height: 50vh;
  width: 50vh;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#projects h1 {
  color: white;
  padding: 50px;
  font-weight: lighter;
  font-size: 80px;
}
