#cv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#cv img {
  margin: 0 auto;
  padding-top: 10px;
}

#button {
  width: fit-content;
  margin: 0 auto;
  color: #cc0067;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}
