#cv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#cv img {
  margin: 0 auto;
  padding-top: 10px;
}

#button {
  width: fit-content;
  margin: 0 auto;
  color: #CC0067;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 30px;
  padding: 10px;
  /* background-color: rgb(204,0,103); */
  border-radius: 10px;
  border: 1px solid #CC0067;
}

.hidden {
  display: none;
}
