.modal {
  position: fixed;
  top: 15%;
  left: 51%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #ff0081;
  width: 500px;
  max-height: 60%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
}

.modal-body {
  padding: 10px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
