.modal {
  position: fixed;
  top: 20%;
  left: 51%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: rgba(255,0,129,0.7);
  width: 500px;
  max-height: 60%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 0px 10px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  color: white;
}

.modal-body {
  padding: 10px 0px;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
